<h3>スケジュール詳細</h3>

<table>
    <tr>
        <th>タイトル</th>
        <td><%= @room %></td>
    </tr>
    <tr>
        <th>開始日</th>
        <td><%= @room %></td>
    </tr>
    <tr>
        <th>投稿日時</th>
        <td><%= @room %></td>
    </tr>
    <tr>
        <th>終日</th>
        <td><%= @room %></td>
    </tr>
    <tr>
        <th>スケジュールメモ</th>
        <td><%= @room %></td>
    </tr>
</table>

<div>
    <ul>
        <li><%= link_to "スケジュール一覧に戻る", :room %></li>
        <li><%= link_to "スケジュールを編集する", :edit_room %></li>
    </ul>
</div>